@use "@material/theme" with (
	$primary: #f95b26,
	$secondary: #f95b26,
);

@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";

@import '../shared/scss/variables.scss';

.enhanced-select {
	width: 300px;
}

.mdc-select {
	width: 100%;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;

		&::-ms-expand {
			display: none;
		}
	}
}

// Prevent conflicts with older versions of material select.
.mdc-select.enhanced-select {
	background-image: none;
}

span.mdc-select__selected-text-container {
	height: 56px;
	margin-top: 20px;
}
.mdc-select__menu.mdc-menu {
	width: 300px;

	.mdc-list-item {
		height: 48px;
		align-items: center;

		span.mdc-list-item__text {
			padding-left: 0;
		}
	}
}
