@import '../shared/scss/variables.scss';
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/select/icon/mdc-select-icon";

.enhanced-select {
	width: 300px;
}

.mdc-select {
	width: 100%;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;

		&::-ms-expand {
			display: none;
		}
	}
}

// Prevent conflicts with older versions of material select.
.mdc-select.enhanced-select {
	background-image: none;
}
