.text-shadow-control {
	.mdc-switch {
		+ label {
			font-variant: small-caps;
			font-weight: bold;
		}
	}

	.directional-control .control-name {
		display: none;
	}

	.selections {
		display: none;
	}
}
