.typography-control {
	padding: 5px 20px;
	min-width: 300px;

	> h5,
	.control-name {
		font-weight: normal;
		font-variant: small-caps;
	}

	> h5 {
		font-weight: bold;
		margin: 0;
		font-size: 15px;
	}

	.directional-control svg {
		width: 15px;
		margin: 0 10px;
	}

	.text-effect-control {
		margin: 20px 0;
	}

	.font-color-control.boldgrid-control {
		margin: 12px 0;
	}
}
