@import '../shared/scss/variables.scss';

.directional-control {
	position: relative;

	.configs {
		position: absolute;
		right: 28px;
		top: -10px;
	}

	.units {
		font-size: 12px;
		color: currentColor;
		text-align: right;
		margin-top: -5px;

		label {
			margin: 4px;
			cursor: pointer;
		}

		.unit {
			display: none;

			&:checked + span {
				color: $accentColor;
			}
		}
	}

	.link {
		visibility: hidden;
		width: 20px;
		margin: 0 8px;
		transform: translateY(3px);
		transition: fill 0.5s;
		fill: $primaryColor;

		&.linked {
			fill: $accentColor;
		}
	}

	&:not([data-linkable='false']) .slider-control:first-of-type .link {
		visibility: visible;
	}

	.control-name {
		font-size: 15px;
		margin-bottom: 25px;
	}

	.delete-saved {
		font-size: 12px;
		margin: 15px 0;
		text-align: center;

		a {
			text-decoration: underline;
			transition: color 0.25s;

			&:first-of-type::after {
				content: ' | ';
				margin: 0 6px;
				display: inline-block;
				color: #7a7a7a;
			}

			&.undo {
				color: black;

				&:hover {
					color: $accentColor;
				}
			}

			&.remove {
				color: red;

				&:hover {
					color: red;
				}
			}
		}
	}
}
