@import '../shared/scss/variables.scss';

.directional-control {
	position: relative;

	.refresh svg {
		width: 19px;
		margin: 0 20px 0;
		position: absolute;
		transition: fill .25s;

		&:hover {
			fill: $accentColor;
		}
	}

	.units {
		font-size: 12px;
		position: absolute;
		right: 35px;
		top: 0;
		color: currentColor;

		label {
			margin: 4px;
			cursor: pointer;
		}

		.unit {
			display: none;

			&:checked + span {
				color: $accentColor;
			}
		}
	}

	.link {
		visibility: hidden;
		width: 20px;
		margin: 0 8px;
		transform: translateY(3px);
		transition: fill .5s;
		fill: $primaryColor;

		&.linked {
			fill: $accentColor;
		}
	}

	&:not([data-linkable="false"]) .slider-control:first-of-type .link {
		visibility: visible;
	}
	.control-name {
		font-size: 15px;
		margin-bottom: 5px;
	}
}
