<div class="directional-control <%=control.name %>-control boldgrid-control" data-linkable="<%= control.linkable.enabled %>">
	<h3 class="control-name"><%=control.title %></h3>
	<% if ( control.description ) { %>
	<p class="control-description"><%=control.description %></p>
	<% } %>
	<div class="configs">
		<device-selection/>
		<div class="units">
			<% if ( -1 !== control.units.enabled.indexOf( 'px' ) ) { %>
			<label title="Pixel Unit"><input type="radio" name="<%=control.name %>-unit" class="unit" value="px"><span>PX</span></label>
			<% } %>
			<% if ( -1 !== control.units.enabled.indexOf( 'em' ) ) { %>
				<label title="Em Unit"><input type="radio" name="<%=control.name %>-unit" class="unit" value="em"><span>EM</span></label>
			<% } %>
			<% if ( -1 !== control.units.enabled.indexOf( '%' ) ) { %>
				<label title="Percentage Unit"><input type="radio" name="<%=control.name %>-unit" class="unit" value="%" ><span>%</span></label>
			<% } %>
			<% if ( -1 !== control.units.enabled.indexOf( 'col' ) ) { %>
				<label title="Columns Unit"><input type="radio" name="<%=control.name %>-unit" class="unit" value="col" ><span>COL</span></label>
			<% } %>
		</div>
	</div>
	<div class="slider-group">
	</div>
	<div class="delete-saved">
		<a href="#" class="remove">Delete Saved Settings</a><a href="#" class="undo">Undo Changes</a>
	</div>
</div>
