.font-variant-control .select2,
.font-family-control .select2 {
	display: block;
	width: 100%;
}

.font-variant-control,
.font-family-control {
	margin-bottom: 10px;
}

.typography-family-controls {
	.select2-container {
		font-size: 12px;
	}

	.font-family-control .title {
		font-size: 15px;
		font-variant: small-caps;
		margin-bottom: 7px;
		display: inline-block;
		font-weight: bold;
	}
}
