<div class='typography-family-controls'>
	<div class="boldgrid-control font-family-control">
		<label>
			<span class="bg-select-title">Font Family</span>
			<select>
				<optgroup label="">
					<option value="">Default</option>
				</optgroup>
				<% _.each( options, function ( section ) { %>
					<optgroup label="<%=section.sectionName %>">
						<% _.each( section.options, function( font, name ) { %>
							<option value="<%= 'class' === section.type ? section.type + '-' + name : name %>"
								data-font-class="<%=font.class %>"
								data-font-type="<%=section.type %>"><%=name %></option>
						<% } ); %>
					</optgroup>
				<% } ); %>
				</optgroup>
			</select>
		</label>
	</div>
	<div class="boldgrid-control font-weight-control bg-select-control">
		<label>
			<span class="bg-select-title">Font Weight</span>
			<select>
				<% _.each( defaultWeights, function ( weight ) { %>
					<option value="<%=weight %>"></option>
				<% } ); %>
			</select>
		</label>
	</div>
	<div class="boldgrid-control font-variant-control bg-select-control">
		<label>
			<span class="bg-select-title">Font Style</span>
			<select>
				<option value="">Default</option>
				<option value="normal">Normal</option>
				<option value="italic">Italic</option>
			</select>
		</label>
	</div>
</div>
