<div>
	<div class="boldgrid-control font-family-control">
		<label>Font Family</label>
		<div>
			<select>
				<optgroup label="">
					<option value="">Default</option>
				</optgroup>
				<optgroup label="System Fonts">
					<% for ( let systemFont of systemFonts ) { %>
						<option value="<%=systemFont.name %>"><%=systemFont.name %></option>
					<% } %>
				</optgroup>
				<optgroup label="Google Fonts">
					<% for ( let name in fonts ) { %>
						<option value="<%=name %>"><%=name %></option>
					<% } %>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="boldgrid-control font-variant-control">
		<label>Font Style</label>
		<div>
			<select>
				<option value="normal">Normal</option>
				<option value="italic">Italic</option>
			</select>
		</div>
	</div>
	<div class="boldgrid-control font-weight-control">
		<label>Font Weight</label>
		<div>
			<select>
				<% for ( let weight of defaultWeights ) { %>
					<option value="<%=weight %>"><%=weight %></option>
				<% } %>
			</select>
		</div>
	</div>
</div>
