@use "@material/theme" with (
	$primary: #f95b26,
	$secondary: #f95b26,
);

@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;

@import '../shared/scss/variables.scss';

.checkboxes {
	.mdc-form-field {
		display: block;
	}
}

.mdc-checkbox label {
	display: inline-block;
	margin-left: 30px;
}

.label-text {
	position: relative;
	top: -4px;
}

label svg {
	width: 20px;
}
