.bg-tabs-content {
	padding: 40px;
}

.hidden {
	display: none;
}

.bg-tabs-content.current.colors-tab {
	display: flex;

	h3 {
		font-size: 1rem;
	}

	.color-classes {
		background: #272727;
		color: white;
		padding: 12px;
		margin: 30px;
		border-radius: 3px;
	}

	.control,
	.css,
	.scss {
		width: 33.333%;
		margin: 0 auto;
	}

	.bgctrl-color-palette {
		margin: 0 auto;
		max-width: 350px;
	}
}
