@import './scss/directional-control.scss';

.bg-tabs-content {
	padding: 40px;
}

.hidden {
	display: none;
}

.log-area {
	background: #272727;
	color: white;
	padding: 30px;
	margin: 30px;
	border-radius: 3px;

	.log-line {
		margin: 5px 0;
	}
}

// Colors tab
.bg-tabs-content.current.colors-tab {
	display: flex;

	h3 {
		font-size: 1rem;
	}

	.color-classes {
		padding: 12px;
	}

	.control,
	.css,
	.scss {
		width: 33.333%;
		margin: 0 auto;
	}

	.bgctrl-color-palette {
		margin: 0 auto;
		max-width: 350px;
	}
	.button-previews button {
		margin-top: 10px;
	}
}

// Palette Selection
.bg-tabs-content.current.palette-selection-tab {
	display: flex;

	.palette-selection {
		max-width: 400px;
		margin: 0 auto;
	}

	.control, .log {
		flex: 1;
	}

}

.bg-tabs-content.directional-control.current {
	display: flex;

	> * {
		padding: 0 20px;
	}
}
