.boldgrid-control.carousel-control {
	.carousel-dots > .boldgrid-control,
	.carousel-arrow > .boldgrid-control {
		margin-bottom: 8px;
	}

	.boldgrid-control-action-menu,
	.carousel-infinite-switch,
	.carousel-arrow,
	.carousel-dots,
	.carousel-autoplay {
		margin-bottom: 30px;
	}

	.carousel-dots-overlay-switch,
	.carousel-navigation-overlay-switch {
		margin: 15px 0 !important;
	}

	.select2 {
		width: 60px !important;

		.fa {
			font-size: 25px;
		}
	}

	.carousel-arrow .slider-control {
		margin-bottom: 15px;
	}

	.carousel-autoplay .slider-control {
		margin-top: 5px;
	}

	.carousel-autoplay-enabled-switch {
		margin-bottom: 0;
	}

	.font-color-control .control-name {
		font-weight: normal;
		font-size: 14px;
		color: #757575;
	}

	.bg-control-switch.left-text label {
		font-size: 17px;
	}

	.carousel-navigation-overlay-switch,
	.carousel-dots-overlay-switch {
		&.bg-control-switch label {
			font-weight: normal;
			font-size: 14px;
		}
	}
}

.bg-select2-icon {
	font-size: 25px;
	text-align: center;
}
