<div class="palette-selection">
	<h3>Choose a palette</h3>
	<p>
		Your chosen color palette will be used for default color selection.
		You can fully customize these colors later.
	</p>
	<div class="selected-palette">
		<div class="unselected">
			Select a Palette Below
		</div>
		<div class="selected">
			<p>Selected Palette</p>
			<ul class="palette-row">
			</ul>
		</div>
	</div>
	<div class="palette-rows">
	</div>
	<div class="bg-pagination">
		<div class="prev"><a  href="#">Previous</a></div>
		<div class="next" ><a href="#">Next</a></div>
	</div>
</div>
