<div class="control"></div>
<div class="css">
	<div class="color-classes log-area">
		<h3>Color Classes</h3>
		<ul>
			<li class="color1-color">Color 1</li>
			<li class="color2-color">Color 2</li>
			<li class="color3-color">Color 3</li>
			<li class="color4-color">Color 4</li>
			<li class="color5-color">Color 5</li>
			<li class="color-neutral-color">Neutral</li>
		</ul>
		<div class="button-previews">
			<button class="btn btn-block btn-color-1 btn-raised">Color 1</button>
			<button class="btn btn-block btn-color-2 btn-raised">Color 2</button>
			<button class="btn btn-block btn-color-3 btn-raised">Color 3</button>
			<button class="btn btn-block btn-color-4 btn-raised">Color 4</button>
			<button class="btn btn-block btn-color-5 btn-raised">Color 5</button>
			<button class="btn btn-block btn-color-neutral btn-raised">Neutral Color</button>
			<button class="btn btn-block btn-color-dark btn-raised">Dark Color</button>
			<button class="btn btn-block btn-color-light btn-raised">Light Color</button>
		</div>
	</div>
	<h3>CSS</h3>
	<div class="content"></div>
</div>
<div class="scss">
	<h3>SCSS</h3>
	<div class="content"></div>
</div>
