<div class="mass-controls">
	<div class="margin-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="padding-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="border-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="border-radius control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="box-shadow control-wrap">
		<div class="control">
		</div>
	</div>
</div>
<div class="combined test-case">
	<h4>All Controls are bound to this grey box.</h4>
	<p>
		Use the controls on the left to change my design.
	</p>
</div>
