<div class="mass-controls">
	<div class="margin-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="padding-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="border-control control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="border-radius control-wrap">
		<div class="control">
		</div>
	</div>
	<div class="box-shadow control-wrap">
		<div class="control">
		</div>
	</div>
</div>
<div class="combined test-case">
	<h5>All Controls are bound here to the following paragraph.</h5>
	<p  style="padding: 5px;">
		Use the controls on the left to change my design.
	</p>
</div>
