@import '../../shared/scss/variables.scss';

.boldgrid-control .device {
	position: relative;
	text-align: right;

	[value="base"] + label svg {
		vertical-align: top;
		transform: scale(1.4);
		margin-right: 6px;
		position: relative;
		top: 3px;
	}

	ul {
		list-style: none;
		margin: 10px 0;
		padding: 0;
	}

	input:checked ~ .relationship {
		display: block;
	}

	ul li:first-of-type input:checked ~ .relationship {
		display: none;
	}

	.relationship {
		display: none;
		background: black;
		position: absolute;
		top: -45px;
		border-radius: 4px;
		transform: translateX(-50%);
		left: 50%;
		width: 87px;
		cursor: pointer;
		text-align: center;

		&::after {
			content: '';
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 7px solid $primaryColor;
			position: absolute;
			bottom: -4px;
			left: 50%;
			transform: translateX(-50%);
		}

		svg {
			padding: 0 2px;
			vertical-align: -webkit-baseline-middle;
			vertical-align: -moz-middle-with-baseline;
			fill: white;

			&:last-of-type {
				width: 15px;
				position: relative;
				top: -2px;
			}
		}
	}

	.selection-text {
		position: absolute;
		right: 0;
		top: -22px;
		font-size: 12px;
	}

	li {
		display: inline;
		margin: 10px 0;
		position: relative;
	}

	input {
		display: none;

		+ label {
			display: table-cell;
			cursor: pointer;
			vertical-align: top;
		}

		&:checked + label svg {
			fill: $accentColor;
		}

		&:checked + label {
			color: $accentColor;
		}
	}

	svg {
		padding: 0 5px;
		width: 20px;
	}
}
