@import '../../shared/scss/variables.scss';

.boldgrid-control .device {
	position: relative;
	text-align: right;

	[value="base"] + label svg {
		vertical-align: top;
		transform: scale(1.4);
		margin-right: 6px;
	}

	ul {
		list-style: none;
		margin: 10px 0;
		padding: 0;
	}

	input:checked ~ .relationship {
		display: block;
	}

	.relationship {
		display: none;
		background: black;
		position: absolute;
		top: -40px;
		border-radius: 4px;
		transform: translateX(-50%);
		left: 50%;
		width: 80px;
		box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.25);
		cursor: pointer;

		svg {
			vertical-align: middle;
			fill: white;
		}
	}

	.selection-text {
		position: absolute;
		right: 0;
		top: -22px;
		font-size: 12px;
	}

	li {
		display: inline;
		margin: 10px 3px;
		position: relative;
	}

	input {
		display: none;

		+ label {
			cursor: pointer;
			vertical-align: top;
		}

		&:checked + label svg {
			fill: $accentColor;
		}

		&:checked + label {
			color: $accentColor;
		}
	}

	svg {
		width: 20px;
	}
}
