<div class="device">
	<span class="selection-text"><input type="radio" checked="checked" name="<%=id  %>" id="<%=id + '-' + 'all' %>" value="all">
		<label for="<%=id + '-' + 'all' %>">All Devices</label>
</span>
	<ul>
		<%	_.each( this.devices, function ( device ) { %>
			<li>
				<input name="<%=id  %>"
					type="radio" id="<%=id + '-' + device.name %>" value="<%= device.name %>">
				<label title="<%=titleCase( device.name ) %> Only" for="<%=id + '-' + device.name %>"><%= device.icon %></label>
			</li>
		<% } ); %>
	</ul>
</div>
