.bg-select-control {
	position: relative;
	min-height: 28px;
	margin-bottom: 10px;

	label {
		vertical-align: middle;

		.bg-select-title {
			font-size: 13px;
			font-variant: small-caps;
		}
	}

	.select2 {
		display: inline-block;
		width: 150px !important;
		position: absolute;
		right: 0;
		top: 0;
	}

	.select2-container {
		font-size: 12px;
	}
}

.boldgrid-control .select2 {
	.select2-selection {
		border-radius: 0;
		border: 0;
		border-bottom: 2px solid lightgrey;
	}
}

.select2-container.select2-container--default .select2-dropdown {
	font-size: 13px;
	border: 1px solid #ebebeb;
	border-radius: 0;
	box-shadow: 0 0 4px 2px rgba(187, 187, 187, 0.2);
}
