@import '../shared/scss/variables.scss';
@import '@material/switch/mdc-switch.scss';

.bg-control-switch {
	margin: 10px 0;

	label {
		cursor: pointer;
	}

	&.left-text {
		.mdc-switch {
			margin-top: 3px;
			float: right;
		}

		label {
			font-variant: small-caps;
			font-weight: bold;
			font-size: 15px;
		}
	}
}
