@use "@material/theme" with (
	$primary: #f95b26,
	$secondary: #f95b26,
);

@use '@material/switch/styles';
@import '../shared/scss/variables.scss';


.bg-control-switch {
	margin: 10px 0;

	label {
		cursor: pointer;
	}

	&.left-text {
		.mdc-switch {
			margin-top: 3px;
			float: right;
		}

		label {
			font-variant: small-caps;
			font-weight: bold;
			font-size: 15px;
		}
	}
}
