<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BoldGrid Customization Controls</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/dashicons/0.1.0/css/dashicons.min.css">
</head>
<body>
  <ul class="bg-tabs">
	  <li class="tab-link current" data-tab="colors-tab"><a href="#colors-tab">Colors</a></li>
	  <li class="tab-link" data-tab="dev-info"><a href="#dev-info">Dev Info</a></li>
  </ul>

  <div class="bg-tabs-content current colors-tab">
  </div>
  <div class="bg-tabs-content dev-info">
	  <%= require("./app/template/dev-info.html") %>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="./static/iris.min.js"></script>
</body>
</html>
