<div class="bgctrl-color-palette">
	<h3>Active Palette</h3>
	<div class='boldgrid-color-palette-wrapper color-palette-columns-<%=config.colorPaletteColumns %>'
		data-color-formats='["<%=config.palette_formats %>"]'
		data-has-neutral='<%=config.hasNeutralColor %>'
		data-num-colors='<%=config.colorPaletteColumns %>'>

	<%
	let savedPalettes = config.saved_palettes || [],
		palettes = savedPalettes.concat( config.palettes );

	_.each( palettes, function ( palette, name ) { %>
	<div data-palette-wrapper='true'>
		<ul class='boldgrid-inactive-palette'
			 data-is-default="<%= ~~palette.default %>"
			 data-is-active="<%= ~~palette.is_active %>"
			 data-color-palette-format="<%=palette.format %>"
			 data-copy-on-mod="<%= ~~palette.copy_on_mod %>"
			 data-palette-id="<%=palette.palette_id %>"
			 <% if ( palette['neutral-color'] ) { %>
				 data-neutral-color="<%= palette['neutral-color'] %>"
			 <% } %>
			 >
			<li class='boldgrid-palette-colors'>
				<% _.each( palette.colors, function ( color ) { %>
					<span data-color="<%=color %>" style="background: <%=color %>"></span>
				<% } ); %>
				<div class='boldgrid-duplicate-dashicons'>
					<span class="dashicons dashicons-admin-post boldgrid-copy-palette" title="Save Palette"></span>
					<span class="dashicons dashicons-no boldgrid-remove-palette" title="Remove Palette"></span>
				</div>
			</li>
		</ul>
	</div>
	<% } ); %>

	<div class='palette-action-buttons hidden'>
		<button class='button button-primary palette-creator-button palette-generator-button' type='button'>Suggest Palettes</button>

			<div class="color-picker" data-value="ffffff"></div>

			<!-- these are the current values of the control -->
			<!-- <?php echo esc_attr( $this->link() ); ?> val='<?php echo esc_attr( $this->value() ); ?> -->
			<input type="textarea" class='hidden palette-option-field'/>

			<div class='generate-palettes-selection-section '>
				<h3>Suggested Palettes</h3>
				<div class='generated-palettes-container'></div>
				<input type="button" class="button cancel-generated-palettes-button" value="Done">
			</div>

			<div class='saved-palettes-divider'>
				<h3>Saved Palettes</h3>
			</div>
		</div>
	</div>
</div>
